body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.container {
    background: white;
    width: 300px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}
